.red-border{
    border: 0.1rem solid red;
}

#input{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    text-align: center;
}
#input-1{
    margin-left: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right:2%
}
#input-2{
    margin-left: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right:2%
}
#b-1{
    margin-left: 2%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right:10%
}
#container-1{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

#container-2{
    margin-top: 3rem;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}
#b-2{
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
}
#img-1{
    object-fit: cover;
    width: 100%;
    height:20rem;
   
}

